# Registro ECR (terraform output ecr_registry en infra/etapa_1)
ECR_REGISTRY=123456789012.dkr.ecr.us-east-1.amazonaws.com
AWS_REGION=us-east-1

# Despliegue AWS (terraform output en infra/etapa_2)
# EC2_HOST frontend  -> frontend_public_ip
# EC2_HOST backends -> backend_public_ip
# DB_PRIVATE_IP      -> database_private_ip
# BACKEND_HOST       -> backend_private_ip (nginx proxy hacia APIs en :8081 y :8082)
